.top_nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.material-icons {
    margin: 4px;
}

#logo {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.content_area {
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 30px;
}

.chip_area {
    display: flex;
    position: sticky;
    top: 0;
    padding-top: 10px;
    padding-bottom:10px;
    background-color: #fff;
}

.chip {
    margin-right: 6px;
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
    /*border-style: solid;*/
    /*border-color: #fff;*/
    border-radius: 15px / 50%;
    background-color: #eee;
    box-shadow: 0px -1px 1px #333;
    font-weight: bold;
}

.content_item {
    margin-top: 12px;
}

#item_about {
    font-size: 14px;
    color: grey;
}

#item_name {
    font-weight: bold;
    font-size: 24px;
}

#item_content {
    margin-top: 4px;
}

.horizontal_slider {
    overflow: auto;
    white-space: nowrap;
    scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* for IE, Edge */
}

.horizontal_slider::-webkit-scrollbar {
    display: none; /* chrome, safari, opera */
}

.slider_item {
    margin-right: 10px;
    background-color: yellow;
}

.bottom_nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 50px;
    box-shadow: 0 -2px 5px -2px #333;
    align-items: center;
    background-color: #fff;
    /*will-change: transform;
    transform: translateZ(0);*/
    /*z-index:1000;*/
}
.bottom_nav__item {
    flex-grow: 1;
    text-align: center;
    font-size: 12px;
}

.bottom_nav__item__content {
    display: flex;
    flex-direction: column;
}
