form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 150px;
}

.form-item {
    margin: 3px;
}

#login-button {
    background-color: white;
    font-weight: bold;
    padding: 4px;
    margin: 6px;
    width: 158px;
    border-radius: 4px;
}

#login-button:hover {
    background-color: lightyellow;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: grey;
}

a:hover {
    color: black;
}

#error-msg {
    visibility: hidden;
    color: red;
    font-size: 14px;
}