.top_nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.material-icons {
    margin: 4px;
    cursor: pointer;
}

.material-icons-outlined {
    cursor: pointer;
}

#logo {
    margin-right: auto;
}

.content_area {
    padding-top: 10px;
    padding-bottom: 50px;
}

.chip_area {
    display: flex;
    overflow: auto;
    position: sticky;
    top: 0;
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 30px;
    background-color: #fff;
}

.chip_area::-webkit-scrollbar {
    display: none; /* chrome, safari, opera */
}

.chip {
    white-space: nowrap; /* 줄넘김을 방지해서 overflow가 적용되도록 함 */
    margin-right: 6px;
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 15px / 50%;
    background-color: #eee;
    box-shadow: 0px -1px 1px #333;
    font-weight: bold;
}

.content_item {
    margin-top: 12px;
    margin-bottom: 44px;
}

.content_item_title {
	display: flex;
	align-items: center;
	padding-left: 30px;
	margin-bottom: 8px;
}

#item_image {
	width: 42px;
	height: 42px;
	border-radius: 50%;
	margin-right: 12px;
	background-color: orange;
}

#item_about {
    font-size: 14px;
    color: grey;
}

#item_name {
    font-weight: bold;
    font-size: 24px;
}

#item_more {
	margin-left: auto;
	margin-right: 30px;
	color: grey;
	font-weight: bold;
	font-size: 14px;
}

#item_content {
    margin-top: 4px;
}

.horizontal_list_slider {
    overflow-x: hidden;
}

.list_slider_item_list::-webkit-scrollbar {
    display: none; /* chrome, safari, opera */
}

.list_slider_item_list {
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: 30px;
    padding-left: 30px;
    padding-right: 30px;
    /*-webkit-overflow-scrolling: touch;*/
}

.list_slider_item {
    display: inline-block;
    min-width: 400px;
    margin-right: 4px;
    scroll-snap-align: start;
}

.list_item {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    height: 58px;
}

.list_item_image {
    width: 50px;
    margin: 4px;
    margin-right: 12px;
    border-radius: 4px;
}

.list_item_song {
    font-weight: bold;
}

.list_item_singer {
    color: grey;
    font-size: 14px;
}

.horizontal_slider {
	display: flex; /* flex 를 안하면 왼쪽으로 나가는 아이템이 패딩에 가려짐 */
    overflow: auto;
    padding-left: 30px;
    scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* for IE, Edge */
}

.horizontal_slider::-webkit-scrollbar {
    display: none; /* chrome, safari, opera */
}

.slider_item {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
}

.slider_item_image {
    width: 140px;
    height: 140px;
    background-color: grey;
    border-radius: 5px;
}

.slider_item_song {
	font-size: 14px;
	font-weight: bold;
}

.slider_item_singer {
	font-size: 14px;
	color: grey;
}

.bottom_nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 50px;
    box-shadow: 0 -2px 5px -2px #333;
    align-items: center;
    background-color: #fff;
}
.bottom_nav__item {
    flex-grow: 1;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}

.bottom_nav__item__content {
    display: flex;
    flex-direction: column;
}

.modal_background {
	display: none;
	background-color: rgb(0, 0, 0, 0.3);
	position: fixed;
	top: 0px;
	bottom:0px;
	left: 0px;
	right: 0px;
	z-index: 1000px;

	animation-name: fadeIn;
	animation-duration: .2s;
}

@keyframes fadeIn {
	from {
		background: transparent;
	}
	to {
		background: rgba(0, 0, 0, .3);
	}
}

.modal {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
	max-width: 600px;
	background-color: lightgrey;
	animation-name: modal;
	animation-duration: .2s;
}

@keyframes modal {
	0% {
		transform: translateY(1000px);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.modal hr {
	margin: 4px;
}

.modal .item_info {
	display: flex;
	align-items: center;
	padding: 4px 8px 4px 8px;
}

.modal .item_info .song_image {
	width: 40px;
	border-radius: 4px;
	margin: 12px;
}

.modal .item_info .song_info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-right: auto;
	
}

.modal .item_info .material-icons {
	margin: 12px;
}

.modal .button_listview .button_item {
	display: flex;
	padding: 4px;
	align-items: center;
}

.modal .button_listview .button_item #button_icon {
	margin-left: 12px;
	margin-right: 12px;
}
